/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body{
    background-color: white;
}

/* Header */

header{
    background-color: lightgray;
    margin-bottom: 3%;
}

/* Main */

.container{
    width: 80%;
    margin: auto;
}
.row{
    text-align: center;
}
.article{
    display: inline-block;
    width: 32%;
    position: relative;
}
.img-container{
    position: relative;
}
.article .img-preview,.img-preview-hover{
    width: 100%;
}
.article .img-preview-hover{
    display: none;
}
.article:hover .img-preview{
    display: none;
}
.article:hover .img-preview-hover{
    display: inline-block;
}
.article .fav{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    text-align: center;
    padding: 2%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.article .fav:hover{
    color: red;
}
